{% extends 'layout.html' %}
{% block title %} {{ chatroom.name }} {% endblock %}

{% block nav %} <a href="{{ url_for('lobby') }}">Return to lobby</a> {% endblock %}

{% block script %}
    <script>
        let haveUpdated = false; 
        let ONE_SECOND = 1000;
        window.onload = () => {
            pollMessages();
        }
        
        let messagesInnerWrapper = document.getElementById('messages-inner-wrapper');
        let messagesContainer = document.getElementById('messages');

        const displayNewMessages = (new_messages) => {
            for (let message of new_messages) {

                let messageEle = document.createElement('div');
                messageEle.className = 'message';

                let usernameEle = document.createElement('div');
                usernameEle.className = 'message-username';
                usernameEle.textContent = message.username;
                
                let dateEle = document.createElement('div');
                dateEle.className = 'message-date';
                dateEle.textContent = message.creation_date_time;

                let usernameAndDateEle = document.createElement('div');
                usernameAndDateEle.className = 'message-username-and-date-container';
                usernameAndDateEle.appendChild(usernameEle);
                usernameAndDateEle.appendChild(dateEle);

                let textEle = document.createElement('div');
                if (message.username === 'Me') {
                    textEle.className = 'message-text-me';
                } else {
                    textEle.className = 'message-text-other';
                }
                textEle.textContent = message.text;

                messageEle.appendChild(usernameAndDateEle);
                messageEle.appendChild(textEle);
                messagesInnerWrapper.appendChild(messageEle);
                
                messagesContainer.scrollTop = messagesContainer.scrollHeight;
            }
        }

        const pollMessages = () => {
            
            fetch('/messages/{{chatroom.chatroom_id}}', {
                method: "get",
                credentials: "include",
                headers: new Headers({
                  "content-type": "application/json"
                }),
            })
            .then((response) => {
                if (!response.ok) {
                    if (response.status === 401)
                    // Go back to the lobby
                    window.location.href = "lobby";
                }
                return response.json();
            })
            .then((data) => {
                displayNewMessages(data);
            })
            .catch((error) => {
                console.log(error);
            });
            // Restart the timer
            window.setTimeout(pollMessages, ONE_SECOND);
        }

        function createMessage(e) {
            // Keep browser from redirecting on form submit
            e.preventDefault()
            messageTextInput = document.getElementById('message-text-input');
            fetch('/create_message/{{chatroom.chatroom_id}}', {
                method: "post",
                credentials: "include",
                headers: { "Content-type": "application/json" },
                body: JSON.stringify({ text: messageTextInput.value }),
            })
            .then((response) => {
                if (!response.ok) { 
                    console.log(`Response not ok when creating message: ${response.text()}`); 
                }
                messageTextInput.value = "";
            })
            .catch((error) => { 
                console.log(error); 
                messageTextInput.value = "";
            });
        }
        document.getElementById('create-message-form').addEventListener('submit', createMessage);

    </script>
{% endblock %}

{% block body %}
    <h1>{{ chatroom.name }}</h1>

    {# Dynamically updated by JS #}
    <div id="messages">
        <div id="messages-inner-wrapper"></div>
    </div>

    <form class="message-form" id="create-message-form" autocomplete="off">
        <label><input id="message-text-input" type="text" name="text" placeholder="Enter a message"></label>
        <input class="message-send-button" type="submit" value="Send"/>
    </form>
{% endblock %}