{% extends "layout.html" %}
{% block title %} Chat Room Create {% endblock %}

{% block nav %} <a href="{{ url_for('lobby') }}">Return to Lobby</a> {% endblock %}

{% block body %}
    
    <form class="form" action="{{ url_for('create_chatroom') }}" method="post">
        <h2>Create a Chat Room</h2>
        <div class="form-inner-wrapper">
            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}
            <label>Chat Room Name:</label>
            <input type="text" name="name"/>
            <input type="submit" value="Create Chat Room"/>
        </div>
        
     </form>
{% endblock %}