<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <title>Chat.io | {% block title %}{% endblock %}</title>
</head>

<body>
    <div class="page">
        <div class="top-nav">
            <h1 class="page-title">Chat.io</h1>
            {# Child templates can add links  #}
            <div class="links">
                {% block nav %}{% endblock %}
                {# Login is always present #}
                {% if g.user %} 
                <a href="{{ url_for('logout') }}">Logout [{{ g.user.username }}]</a>
                {% endif %}
            </div>
        </div>

        {# Conent of the page #}
        <div class="content">
            {# Flash messages #}
            {% with flashes = get_flashed_messages() %}
                {% if flashes %}
                <div class="flashes">
                {% for message in flashes %}
                    <span>{{ message }}</span>
                {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            {# Child template html content #}
            {% block body %}{% endblock %}
            {# Child template script #}
            {%block script%}{% endblock %}
        </div>
    </div>
</body>
</html>